.App {
  display: flex;
  justify-content: center;
}
.chart {
  max-width: 500px;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
